version: '3.7'

services:
  control:
    image: ansible_controller
    container_name: con
    working_dir: "/home/ansible"

    volumes:
      - /c/Users/Public/repos/ansible:/home/ansible/code
      - /c/Users/Public/docker-shared:/tmp/shared
    tty: true # Can keep running

  jenkins:
    image: centos-systemd_server
    container_name: jk
    working_dir: "/tmp"
    volumes:
      - /sys/fs/cgroup:/sys/fs/cgroup:ro
      - /c/Users/Public/docker-shared/data-jenkins:/data
      - /c/Users/Public/docker-shared:/tmp/shared
    ports:
      - "8082:8082"
    privileged: true
    tty: true # Can keep running

  app:
    image: centos-systemd_server
    container_name: app
    working_dir: "/opt"
    volumes:
      - /sys/fs/cgroup:/sys/fs/cgroup:ro
      - /c/Users/Public/docker-shared/data-tomcat:/data
      - /c/Users/Public/docker-shared:/tmp/shared
    ports:
      - "8090:8090"
    privileged: true
    tty: true # Can keep running

  db:
    image: "mcr.microsoft.com/mssql/server:2017-latest"
    container_name: mssql
    environment:
      - ACCEPT_EULA=Y
      - SA_PASSWORD=sa@Password
    # volumes:
      # - /c/Users/Public/docker-shared/data-mssql:/tmp/shared
    ports:
      - "1433:1433"
