---
# tasks file for jenkins-master
- name: Add yum repository
  get_url:
    url: https://pkg.jenkins.io/redhat-stable/jenkins.repo
    dest: /etc/yum.repos.d/jenkins.repo

- name: Import key
  rpm_key:
    key: https://pkg.jenkins.io/redhat-stable/jenkins.io.key

- name: Ensure Jenkins is installed.
  yum:
    name: "jenkins"
    state: installed

- name: Disable Install wizard
  copy:
    content: "2.204.2"
    dest: /var/lib/jenkins/jenkins.install.InstallUtil.lastExecVersion
    owner: jenkins
    group: jenkins
    mode: 0644

- name: Disable Upgrade wizard
  copy:
    content: "2.204.2"
    dest: /var/lib/jenkins/jenkins.install.UpgradeWizard.state
    owner: jenkins
    group: jenkins
    mode: 0644