- name: Create group "{{ tomcat_group }}"
  group:
    name: "{{ tomcat_group }}"
    gid: "{{ tomcat_group_gid | default(omit) }}"
    state: present

- name: Create user "{{ tomcat_user }}"
  user:
    name: "{{ tomcat_user }}"
    group: "{{ tomcat_group }}"
    uid: "{{ tomcat_user_uid | default(omit) }}"
    state: present

- name: Create temp directory
  file:
    path: '{{ tomcat_download_dir }}'
    state: directory

- name: Download apache-tomcat-{{ tomcat_version }}.tar.gz
  get_url:
    url: "{{ tomcat_download_URL }}/tomcat/tomcat-{{ tomcat_version.split('.')[0] }}/v{{ tomcat_version }}/bin/apache-tomcat-{{ tomcat_version }}.tar.gz"
    dest: '{{ tomcat_download_dir }}'
    timeout: 120

- name: Ensure "{{ tomcat_install_path }}/apache-tomcat-{{ tomcat_version }}/conf/ exists
  file:
    path: "{{ tomcat_install_path }}/apache-tomcat-{{ tomcat_version }}/conf"
    state: directory
    owner: tomcat
    group: tomcat
    mode: u+rwx
    follow: true

- name: Setup server.xml
  template:
    src: "{{ tomcat_template_server }}"
    dest: "{{ tomcat_install_path }}/apache-tomcat-{{ tomcat_version }}/conf/server.xml"
#   notify: restart tomcat
