- name: "Application: {{ application }} ==> Instance: {{ tomcat_instances[application].instance_name }}"
  debug:
    msg: "Instance: {{ tomcat_instances[application].instance_name }}"

- name: Create directories under "{{ tomcat_instances_dir }}/{{ tomcat_instances[application].instance_name }}"
  file:
    path:  "{{ tomcat_instances_dir }}/{{ tomcat_instances[application].instance_name }}/{{ item }}"
    state: directory
    owner: "{{ tomcat_user }}"
    group: "{{ tomcat_group }}"
  with_items:
    - "conf"
    - "logs"
    - "temp"
    - "webapps"
    - "work"

- name: Copy default conf files from catalina_home
  copy:
    remote_src: yes
    src:   "{{ tomcat_install_dir }}/{{ tomcat_symlink }}/conf/{{ item }}"
    dest:  "{{ tomcat_instances_dir }}/{{ tomcat_instances[application].instance_name }}/conf/"
    owner: "{{ tomcat_user }}"
    group: "{{ tomcat_group }}"
  with_items: "{{ tomcat_necessary_default_conf_files }}"

- name: Copy sample application "ROOT" from catalina_home
  copy:
    remote_src: yes
    src:   "{{ tomcat_install_dir }}/{{ tomcat_symlink }}/webapps/ROOT"
    dest:  "{{ tomcat_instances_dir }}/{{ tomcat_instances[application].instance_name }}/webapps/"
    owner: "{{ tomcat_user }}"
    group: "{{ tomcat_group }}"

- name: Update logging.properties
  template:
    src:  "logging-properties.j2"
    dest: "{{ tomcat_instances_dir }}/{{ tomcat_instances[application].instance_name }}/conf/logging.properties"

- name: Update server.xml
  template:
    src:  "{{ template_server_xml }}"
    dest: "{{ tomcat_instances_dir }}/{{ tomcat_instances[application].instance_name }}/conf/server.xml"
  # notify: restart tomcat

- name: Update service file
  template:
    src: "tomcat.service.j2"
    dest: /usr/lib/systemd/system/tomcat-{{ application }}-{{ tomcat_instances[application].instance_name }}.service
  # notify: restart tomcat

- name: Enable tomcat service on startup
  systemd:
    name: "tomcat-{{ application }}-{{ tomcat_instances[application].instance_name }}"
    enabled: yes
    daemon_reload: yes
