- name: Download jenkins.war
  import_tasks: download.yml

- name: Ensure dependencies are installed.
  package:
    name:
      - curl
      - libselinux-python #need?
      - initscripts #need?
      - git
    state: installed

- name: "start"
  debug: msg="-START-"

- name: Setup Jenkins Master
  import_tasks: setting-master.yml

- name: Install Jenkins plugins
  tags: [ never, plugins ]
  import_tasks: setting-plugins.yml
