- name: Pre requirements
  import_tasks: requirements.yaml

- name: Install Java
  import_tasks: install-java.yaml

# - name: "start"
#   debug: msg="-START-"

- name: Setup Jenkins Master
  import_tasks: settings.yml

# - name: Install Jenkins plugins
#   tags: [ never, plugins ]
#   import_tasks: settings-plugins.yml
