# Systemd unit file for tomcat
[Unit]
Description=Apache Tomcat 8
After=syslog.target network.target

[Service]
Type=forking

Environment=JAVA_HOME={{ tomcat_java_home }}
Environment=CATALINA_HOME={{ tomcat_install_path }}/{{ catalina_home_name }}

Environment=CATALINA_BASE={{ tomcat_instances_dir }}/{{ tomcat_instance.instance_name }}
Environment=CATALINA_PID={{ tomcat_pid_dir }}/{{ tomcat_instance.instance_name }}.pid

Environment=CATALINA_OUT={{ tomcat_catalina_out_path }}

Environment='CATALINA_OPTS=-Xms{{ tomcat_instance.jvm_xms }}M -Xmx{{ tomcat_instance.jvm_xmx }}M -server -XX:+UseParallelGC'
Environment='JAVA_OPTS=-Djava.awt.headless=true -Djava.security.egd=file:/dev/./urandom'

ExecStart={{ tomcat_install_path }}/{{ tomcat_service_name }}/bin/startup.sh
ExecStop={{ tomcat_install_path }}/{{ tomcat_service_name }}/bin/shutdown.sh
ExecReStart={{ tomcat_install_path }}/{{ tomcat_service_name }}/bin/shutdown.sh;{{ tomcat_install_path }}/{{ tomcat_service_name }}/bin/startup.sh

User={{ tomcat_user }}
Group={{ tomcat_group }}

[Install]
WantedBy=multi-user.target
