<?xml version="1.0" encoding="UTF-8"?>

<Server port="{{ tomcat_port_shutdown }}" shutdown="SHUTDOWN">
  <Listener className="org.apache.catalina.startup.VersionLoggerListener" />

  <!--APR library loader. Documentation at /docs/apr.html -->
  <Listener className="org.apache.catalina.core.AprLifecycleListener" SSLEngine="on" />

  <!-- Prevent memory leaks due to use of particular java/javax APIs-->
  <Listener className="org.apache.catalina.core.JreMemoryLeakPreventionListener" />
  <Listener className="org.apache.catalina.mbeans.GlobalResourcesLifecycleListener" />
  <Listener className="org.apache.catalina.core.ThreadLocalLeakPreventionListener" />

  <Service name="Catalina">

    <Connector  protocol="HTTP/1.1"
              address="{{ tomcat_listen_address }}"
              port="{{ tomcat_port_connector }}"
              connectionTimeout="20000"
              redirectPort="{{ tomcat_port_redirect }}" />

    <!-- Define an AJP 1.3 Connector on port 8009 -->
    <!--
    <Connector port="{{ tomcat_port_ajp }}" protocol="AJP/1.3" redirectPort="{{ tomcat_port_redirect }}" />
    -->

    <Engine name="Catalina" defaultHost="localhost">
      <Realm className="org.apache.catalina.realm.LockOutRealm">
        <Realm className="org.apache.catalina.realm.UserDatabaseRealm" resourceName="UserDatabase"/>
      </Realm>

      <Host name="localhost"
            appBase="webapps"
            unpackWARs="true"
            autoDeploy="true" />

    </Engine>
  </Service>

</Server>
