---
# roleで利用される変数を定義
# 基本的に環境毎に変わる固定値などを記述し、group_varsなどで変数を上書しない

jenkins_user:  jenkins
jenkins_group: jenkins

jenkins_download_URL: http://mirrors.jenkins.io/war-stable/
jenkins_download_dir: /var/tmp/downloads
jenkins_home_dir:     /var/lib/jenkins_home
jenkins_plug_dir:     /var/lib/jenkins_plugins
jenkins_work_dir:     /var/lib/jenkins_workspace

jenkins_plugin_names:
  - "trilead-api"
  - "jaxb"
  - "jdk-tool"
  - "structs"
  - "scm-api"
  - "workflow-step-api" # Pipeline: Step API
  - "workflow-api"      # Pipeline: API
  - "display-url-api"
  - "mailer"
  - "command-launcher" # Command Agent Launcher
  - "script-security"
  - "workflow-support"  # Pipeline: Supporting APIs
  - "durable-task"
  - "workflow-durable-task-step" # Pipeline: Nodes and Processes
  - "apache-httpcomponents-client-4-api"
  - "workflow-basic-steps" # Pipeline: Basic Steps
  - "configuration-as-code"
  - "credentials"
  - "plain-credentials"
  - "cloudbees-folder" # Folders
  - "ssh-credentials"
  - "jsch" # JSch dependency
  - "git-client"
  - "git-server"
  - "workflow-scm-step" # Pipeline: SCM Step
  - "variant"
  - "jackson2-api"
  - "metrics"
  - "bouncycastle-api"
  - "async-http-client"
  - "support-core"
  - "ace-editor" # JavaScript GUI Lib: ACE Editor bundle
  - "jquery-detached" # JavaScript GUI Lib: jQuery bundles (jQuery and jQuery UI)
  - "workflow-cps" # Pipeline: Groovy
  - "workflow-cps-global-lib" # Pipeline: Shared Groovy Libraries
  - "workflow-job" # Pipeline: Job
  - "branch-api"
  - "workflow-multibranch" # Pipeline: Multibranch
  - "credentials-binding"
  - "pipeline-stage-step"
  - "pipeline-model-api"
  - "pipeline-model-extensions" # Pipeline: Declarative Extension Points API
  - "authentication-tokens"
  - "docker-commons"
  - "docker-workflow" # Docker Pipeline
  - "pipeline-input-step"
  - "pipeline-model-declarative-agent" # Deprecated!!!
  - "pipeline-stage-tags-metadata"
  - "pipeline-model-definition" # Pipeline: Declarative
  - "token-macro"
  - "junit"
  - "matrix-project"
  - "run-condition"
  - "javadoc"
  - "maven-plugin"
  - "conditional-buildstep"
  - "parameterized-trigger"
  - "promoted-builds"
  - "git"

tomcat_catalina_dir:   /opt/tomcat
tomcat_instances_dir:  /var/lib/tomcats
tomcat_java_home:      /usr/lib/jvm/java-11-openjdk
tomcat_listen_address: 0.0.0.0

tomcat_necessary_default_conf_files:
  - catalina.policy
  - catalina.properties
  - context.xml
  - jaspic-providers.xml
  - jaspic-providers.xsd
  - web.xml
